<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<div id="faqs">
  <div id="center">
    <h1 id="center">FAQ</h1>
  </div>
  <div id="faq" class="container">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>¿Cuando llegarían mis cajas?</h3>
      <p>Empezamos a enviar las cajas alrededor del 8vo día de cada mes.
        Llegarían a su domicilio dentro de 1-3 días de esa fecha.</p>
      <h3>¿Qué hay dentro de las cajas?</h3>
      <p>10 deliciosos postres, hechos por varios chefs del mundo.</p>
      <h3>¿Y si tengo alergías?</h3>
      <p>De ser así, usted puede notificarnos de los alimentos que le provocan reacciones
        alérgicas dentro de su información personal. Además, cada caja
        contiene información sobre los postres y que ingredientes contienen.</p>
      <h3>¿Mi suscripción se renovaría automáticamente?</h3>
      <p>Si, su suscripción se renovaría de manera automática hasta ser cancelada. Las suscripciones
        de regalo no serán renovadas automáticamente. Puede checar el estatus de su
        suscripción en la página de su cuenta.</p>
      <h3>¿Cómo actualizo mi información personal?</h3>
      <p>Dentro de su cuenta FAIRY, da click en "Actualizar Mi Información". Una vez
        que todos los cambios hayan sido realizados, simplemente presione el boton "Guardar".</p>
      <h3>¿Cuando se me cobraría la renovación?</h3>
      <p>Las renovaciones se cobrarían el 15vo día del mes; en el caso de las suscripciones
        "de mes a mes", se renuevan cada mes mientras que las de 3/6/12 meses se renuevan cada
        3/6/12 meses respectivamente.</p>
      <h3>¿Cómo puedo cancelar mi suscripción?</h3>
      <p>Da click en "Cancelar Suscripción" dentro de la página de su cuenta.</p>
    </div>
  </div>
  <div class="container">
    <div id="center" class="col-lg-12 col-md-12 col-sm-12">
      <h2>¿Listo para suscribírte a Fairy?</h2><br>
      <a href="seleccion.html" class="boton-rosa">SUSCRÍBETE</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>