<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<header id="galeria" class="fondorosaclaro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="center">Galería</h1>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/29332c8e-5ac4-44a7-bb3a-da49837ad7c4.jpg">
          <div class="overlay">
            <div id="center" class="content">Pastel de arcoíris</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/1371611475551.jpeg">
          <div class="overlay">
            <div id="center" class="content">Flan de frambuesa</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/chocolove.jpg">
          <div class="overlay">
            <div id="center" class="content">Paletas de chocolate</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/rain.jpg">
          <div class="overlay">
            <div id="center" class="content">Tarta de colores</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/cookie.jpg">
          <div class="overlay">
            <div id="center" class="content">Galleta de fresa</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/mandarin-orange-tarts-032.jpg">
          <div class="overlay">
            <div id="center" class="content">Tarta de mandarina</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/red-velvet-cookies-cream-cheese-filling.jpg">
          <div class="overlay">
            <div id="center" class="content">Red velvet cookies</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/tarts.jpg">
          <div class="overlay">
            <div id="center" class="content">Tartas</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/Tiramisu.jpg">
          <div class="overlay">
            <div id="center" class="content">Tiramisú</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/JakobLayman.0319.TheManufactory_341-1068x841.jpg">
          <div class="overlay">
            <div id="center" class="content">Rollitos rellenos</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/0b535e2ec3f4f6330596282a164f66bf.jpg">
          <div class="overlay">
            <div id="center" class="content">Tarta de frambuesa</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-sx-6">
        <div class="wrapper">
          <img src="img/Cinnamon-Rolls-7-683x1024.jpg">
          <div class="overlay">
            <div id="center" class="content">Pay de canela</div>
          </div>
        </div>
      </div>
      <div id="center" class="col-lg-12 col-md-12 col-sm-12">
        <h2>¡No te pierdas de estos increíbles postres!</h2>
        <a href="seleccion.html" class="boton-rosa">SUSCRÍBETE</a>
      </div>
    </div>
  </div>
</header>
<%- include('partials/footer') -%>