<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<div id="nosotros">
</div>
<div id="QFairy">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>¿Qué es Fairy?</h1>
        <p>Es mucho más que un equipo; es una comunidad, llena </p>
        <p>de gente comprometida a la excelencia en repostelería. </p>
        <p>Es la unión de personas que creen firmemente en el </p>
        <p>poder de los postres; un placer que todos en el mundo </p>
        <p>deberían tener la oportunidad de probar. Con cada caja </p>
        <p>que es enviada, se quiere difundir el mensaje que la vida </p>
        <p>puede ser dulce.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="img/cursopas.jpg">
      </div>
    </div>
  </div>
</div>

<div id="historia">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="img/pastelerxa_2.jpg_1866758231.jpg">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>Nuestra Historia</h1>
        <p>En el año 2019, un grupo de mexicalenses </p>
        <p>tuvo la idea de crear un servicio cuyo </p>
        <p class="inter">propósito sería repartir postres al público.</p>

      </div>
    </div>
  </div>
</div>

<div id="Afiliados">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>Afiliados</h1>
        <p>El trabajo en equipo es esencial para FAIRY; es por eso</p>
        <p>que mantenemos una relación profesional y</p>
        <p>respetuosa con varios negocios, no solo a nivel </p>
        <p>regional y nacional, sino también a nivel</p>
        <p>internacional. </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="img/chef_irving_quiroz-equipo-1.jpg">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="center" class="col-lg-12 col-md-12 col-sm-12">
    <h2>¿Listo para suscribírte a Fairy?</h2><br>
    <a href="seleccion.html" class="boton-rosa">SUSCRÍBETE</a>
  </div>
</div>
<%- include('partials/footer') -%>