<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<nav id="Plan">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="center">Elige tu plan</h1>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="img/cajabox.png">
        <h2>1 MES</h2>
        <h3>$620</h3>
        <p>Recibe una caja de nuestros exquisitos postres.<br>
          (Entre 10-12 postres)</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="img/cajabox.png">
        <h2>3 MESES</h2>
        <h3>$1,740</h3>
        <p>Ahorra 580 por caja.<br>
          Recibe 3 cajas de postres<br>
          y una revista exclusiva. <br>
          (Entre 32-40 postres)</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="img/cajabox.png">
        <h2>6 MESES</h2>
        <h3>$3,240</h3>
        <p>Ahorra 540 por caja.<br>
          Recibe 6 cajas <br>
          y un regalo especial.<br>
          (Entre 70-90 postres)</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="img/cajabox.png">
        <h2>1 AÑO</h2>
        <h3>$6,000</h3>
        <p>Ahorra 500 por caja.<br>
          Recibe 12 cajas<br>
          y tres regalos especiales.<br>
          (Entre 160-200 postres)</p>
      </div>
      <div class ="col-lg-12 col-md-12 col-sm-12" id ="center">
        <a href="register.html" class="boton-rosa">SUSCRÍBETE</a>
      </div>
    </div>
  </div>
</nav>
<div id="anterior">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1>Postres incluídos en la caja del mes anterior</h1>
      </div>
      <div class="col-lg-4 col-md-6">
        <img src="img/Sawyer.png">
        <img src="img/ind.jpg">
      </div>
      <div class="col-lg-4 col-md-6">
        <img src="img/Dango-best-Japanese-dessert.jpg">
        <img src="img/Ice-Cream-Float-744x400.jpg">
      </div>
      <div class="col-lg-4 col-md-12">
        <img src="img/051114083-01-german-chocolate-cake-bombe-recipe-thumb1x1.jpg">
        <img src="img/kw-guava-cake-articleLarge.jpg">
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>