<body>
  <nav>
    <div>
      <nav>
        <a href="index.html" id="logo">Fairy</a>
      </nav>
    </div>
    <ul class="nav-links">
      <li><a href="nosotros.html">Nosotros</a></li>
      <li><a href="galeria.html">Galería</a></li>
      <li><a href="FAQ.html">FAQ</a></li>
      <li><a href="seleccion.html">Paquetes</a></li>
      <li><a href="login.html">Acceder</a></li>
    </ul>
    <div class="barra3">
      <div class="1"></div>
      <div class="2"></div>
      <div class="3"></div>
    </div>
  </nav>